@media (max-width: 480px) {
  .home-width {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .home-width {
    width: 50%;
  }
}

.main-banner{
  min-height: 50vh;
}

.main-content{
  min-height: 90vh;
  margin-top: 10vh;
  padding: 1em;
}

.navbar {
  min-height: 10vh;
}

.small .react-colorful {
  width: 120px;
  height: 120px;
}